.container {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;

    @include from-mobile-layout {
        max-width: initial;
    }

    @include from-normal-layout {
        max-width: $tablet-breakpoint;
    }

    @include from-wide-layout {
        max-width: $wide-breakpoint;
    }
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.specific-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 10px;
    margin: 40px;
    justify-content: center;
}
